# runtime
/cache/
/logs/
/crashes/
/txData/

# databases
/db/
*.db
*.sqlite
*.sqlite3
*.db-journal

# archives
*.zip
*.rar
*.7z
*.tar
*.tgz

# backups
*.bkp
*.bak
*.old

# node
node_modules/

# IDE
.vscode/*
!.vscode/extensions.json

# temp
.temp/
*.tmp

# paid resources
/[fiveguard]/

# git
.git/
